main{
    background-color: rgb(155, 191, 255);
    height: 590px;
    width: 1000px;

    /* จัดเนื้อหาเข้ากลาง */
    margin-right: auto;  
    margin-left: auto;
}
header{
    background-color: rgb(255, 111, 0);
    overflow: hidden;
}
body{
    background-image: linear-gradient(to right bottom, #0057c1, #4479d1, #719cde, #9ebee9, #cfe0f4);
}
#menu{
    /* background-color: aquamarine; */
    width: 400px;
    float: right;
}
#logo{
    /* background-color: blue; */
    width: 40px;
    float: left;
    border-radius: 50%;
}
#slide{
    background-color: brown;
    height: 200px;  

    /* รูปที่เซฟมาต้องมีขนาด 1000x200 */
}
#content{
    background-color: aquamarine;
    margin-left: 10px;
    margin-right: auto;

    /* height: 100px; */
}
.subcontent{
    background-color: bisque;
    float: left;
    margin: 10px;
    width: 295px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 1px 1px 6px 1px tomato;
    padding: 6px;
}
ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
li{
    float: left;
    margin: 10px;
}